@import "tailwindcss";

@theme {
  --color-ca-black: #1e1e1e;
  --color-ca-light-black: #2b2c2b;
  --color-ca-dark-blue: #5a7684;
  --color-ca-mint: #daffef;
  --color-ca-yellow: #f8e8a0;
  --color-ca-white: #fcfffd;
}

body {
  background-color: #1e1e1e;
  color: #fcfffd;
}
